 <small>
       <%= pluralize(@user.posts.count, 'post') %>,
       <%= pluralize(@user.comments.count, 'comment') %>
   </small>

    <% if @user.favorites.any? %>
    
       <ul> <% @user.favorites.each do |f| %>
            <li><%= image_tag(f.post.user.avatar_url(48), class: "gravatar") %><<%= f.post.title %>
                <%= image_tag(f.post.user.avatar_url(48), class: "gravatar") %><%= f.post.points %></li>
        <% end %>
       </ul>
       
     <% else %>
         <%= "#{@user.name} has not submitted any favorites yet." %>
    <% end %>
      